@using System.Collections.Specialized
@{
    ViewBag.Title = "Home Page";
}

<div class="title-wrap">

        <h2 class="entry-title">Write to your MP</h2>

</div>
<div class="post-content">
    <p>
       You have a right to know what your local representative thinks of your future in Britain.
    </p>
    <p>
        Use this page to write to your MP, asking how they will ensure that your rights are protected as Britain begins the formal process of leaving the EU.
    </p>
    <p><a href="http://immigrants.help" class="btn btn-primary btn-lg">Go to our main site &raquo;</a></p>
    
    <div>
        <h4>
            <label for="yourname">What's your name?</label>
        </h4>
        <p>
            <input type="text" id="yourname" />
        </p>
    </div>
    <div>
        <h4>
            <label for="postcode">What's your postcode?</label>
        </h4>
        <p>
            <input type="text" id="postcode" />
        </p>
    </div>
    <div style="display: none" id="mpnamediv">
        <h4>Your MP is</h4> <span id="mpname"></span> (<span id="mpemail"></span>)

    </div>
    <div style="display: none;color: red" id="mptooshort">
        <p>Your postcode is too short to identify your MP</p>
    </div>

    <div>
        <h4>
            <label for="country">Where are you from?</label>
        </h4>
        <p>
            <select id="country">
                <option value="Austria">Austria</option>
                <option value="Belgium">Belgium</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Croatia">Croatia</option>
                <option value="Republic of Cyprus">Republic of Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Estonia">Estonia</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Hungary">Hungary</option>
                <option value="Ireland">Ireland</option>
                <option value="Italy">Italy</option>
                <option value="Latvia">Latvia</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Malta">Malta</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Romania">Romania</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Spain">Spain</option>
                <option value="Sweden">Sweden</option>

            </select>
        </p>
    </div>
    <div>
        <h4>
            <label for="howlong">How many years have you lived in the UK?</label>
        </h4>
        <p>
            <input type="number" id="howlong" /> 
        </p>
    </div>
    <div>
        <h4>
            <label for="email">What's your e-mail?</label>
        </h4>
        <p>
            <input type="email" id="email" />
        </p>
    </div>
    <div>
        <label><input type="checkbox" id="cbox1" value="first_checkbox">I have read and accept <a href="/Home/TC" target="blank">the Terms & Conditions</a></label>
    </div>
    <div style="clear: both;">
        <button id="prepareletter" style="display:none">Generate e-mail</button>
        <div id="letter" style="display: none"></div>
        <button id="sendletter" style="display:none">Send</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/Scripts/HomeIndex.js"></script>
}