
@{
    ViewBag.Title = "TC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms and Conditions</h2>

<h4>GENERAL</h4>

<p>The Immigrants' Helpline website is run entirely by volunteers at Immigrants' Helpline and is maintained for your personal use and viewing.</p>

<p>The access and use of the Immigrants' Helpline website shall be subject to the terms and conditions set out below, which take effect from the date you first use the website. We reserve the right to revise these terms and conditions at any time without notice.</p>

<h4>PRIVACY STATEMENT</h4>

<p>If you are a user with general public and anonymous access, our website does not store or capture personal information but merely logs your IP address, which is automatically recognised by the web server. The system will record your e-mail address and other information if volunteered to us by you, including by using our appeal.immigrants.help service. This information shall be treated as proprietary and confidential. It may be used for internal review and to notify you about updates related to the work that we do. We will never pass on your personal information to third parties without your express consent.</p>

<h4>POSTINGS</h4>

<p>You agree that you will not use our website or the content in it to post material that contains content which is harmful, threatening, abusive, vulgar, obscene, harassing, defamatory, offensive (racially, sexually or ethnically), promotes a political view or is otherwise objectionable.</p>

<p>You will not use your email account to:(i) impersonate any person; and/or (ii) 'spam' by posting frequent and/or annoying messages, including by sending multiple emails using our appeal.immigrants.help service.</p>

<h4>ANALYTICS</h4>

    <p>Immigrants' Helpline has implemented Google Analytics including demographics reporting. Any demographic reports produced using this data will be used to gain a better understanding of our website traffic and improve user experience.</p>
